root = true

# すべてのファイル
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ ソースファイル
[*.{cpp,hpp,h,cc,cxx,hxx}]
charset = utf-8
indent_style = space
indent_size = 4

# CMake ファイル
[CMakeLists.txt]
indent_style = space
indent_size = 2

# JSON ファイル
[*.json]
indent_style = space
indent_size = 2

# YAML ファイル
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# マークダウンファイル
[*.md]
trim_trailing_whitespace = false
